@page "/logmessage/{id:guid}"
@using Cosei.Client.Base;
@using Cosei.Client.Http;
@using Microsoft.Extensions.Localization;
@using LogService.Blazor.Identity;
@using LogService.Blazor.Services;
@using LogService.Client.Data.Mappings;
@using LogService.Client.Data.Models;
@using LogService.Client.Data.Services;
@using LogService.Client.Data;
@using LogService.Client.Localisation
@using LogService.Contracts.Events;
@inject ILogger<LogMessage> Log
@inject ILogMessageService LogMessageService
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager
@inject IStringLocalizer<LogLevelLoc> LogLevelLocalizer

@implements IDisposable

<PageTitle>@LogMessageLoc.LogMessage</PageTitle>

@if (Model == null)
{
	<p><em>@CommonLoc.Loading...</em></p>
}
else
{
	<EditForm Model="@Model">
		<section class="w-100 p-4 pb-4">
			<div class="form-outline mb-4">
				<h1>@LogMessageLoc.LogMessage</h1>
			</div>
			<div class="w-auto h-auto">
				<DataAnnotationsValidator />
				<ValidationSummary />

				<!-- DateTime input -->
				<div class="form-outline mb-2">
					<label class="form-label" for="DateTimeInput">@LogMessageLoc.DateTime</label>
					@Model.DateTime
				</div>

				<!-- LogLevel input -->
				<div class="form-outline mb-2">
					<label class="form-label" for="LogLevelInput">@LogMessageLoc.LogLevel</label>
					@LogLevelLocalizer[Model.LogLevel.ToString()]
				</div>

				<!-- Category input -->
				<div class="form-outline mb-2">
					<label class="form-label" for="CategoryInput">@LogMessageLoc.Category</label>
					@Model.Category
				</div>

				<!-- State input -->
				<div class="form-outline mb-2">
					<label class="form-label" for="StateInput">@LogMessageLoc.State</label>
					@Model.State
				</div>

				<!-- Source input -->
				<div class="form-outline mb-2">
					<label class="form-label" for="SourceInput">@LogMessageLoc.Source</label>
					@Model.Source
				</div>

				<!-- RawMessage input -->
				<div class="form-outline mb-2">
					<label class="form-label" for="RawMessageInput">@LogMessageLoc.RawMessage</label>
					@Model.RawMessage
				</div>

				<!-- Message input -->
				<div class="form-outline mb-2">
					<label class="form-label" for="MessageInput">@LogMessageLoc.Message</label>
					@Model.Message
				</div>

				@if (Model.ExceptionIsValid)
				{
					<!-- Exception -->
					<div class="form-outline mb-2">
						<label class="form-label" for="ExceptionInput">@LogMessageLoc.Exception</label>
						@Model.Exception
					</div>
				}
				
				<!-- RawArguments input -->
				<div class="form-outline mb-2">
					<label class="form-label" for="RawArgumentsInput">@LogMessageLoc.RawArguments</label>
					@foreach (var entry in @Model.RawArguments)
					{
						@entry
					}
				</div>
			</div>
		</section>
		<section>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>@LogArgumentLoc.Key</th>
						<th>@LogArgumentLoc.Value</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var entry in Model.Arguments)
					{
						<tr scope="row">
							<td><input type="text" class="form-control" @bind=entry.Key /></td>
							<td><input type="text" class="form-control" @bind=entry.Value /></td>
						</tr>
					}
				</tbody>
			</table>
		</section>
	</EditForm>
}

@code {
	[CascadingParameter(Name = "ErrorService")]
	protected IErrorService? ErrorService { get; set; }

	[Parameter]
	public Guid Id { get; set; }

	private ISubscriber? Subscriber;

	private bool isNew = false;
	private LogMessageModel? Model;


	protected override async Task OnInitializedAsync()
	{
		var state = await AuthenticationService.GetAuthenticationStateAsync();

		if (state.User.Identity is null)
		{
			var url = NavigationManager.BuildReturnUrl("/login");
			NavigationManager.NavigateTo(url);
			return;
		}

		try
		{
			if (Id == Guid.Empty)
			{
				Model = LogMessageService.CreateLogMessage();
				isNew = true;
			}
			else
			{
				Model = await LogMessageService.GetItemAsync(Id);
			}
		}
		catch (System.Security.Authentication.AuthenticationException)
		{
			var url = NavigationManager.BuildReturnUrl("/login");
			NavigationManager.NavigateTo(url);
		}
		catch (Exception ex)
		{
			Log.LogError(ex, "Error loading logmessage.");
			ErrorService?.ShowError("Error", "Could not load. Server error.");
		}
	}

	private void AddArgumentsEntry()
	{
		if (Model is null)
		{
			return;
		}

		var max = 0;

		if (Model.Arguments.Count > 0)
		{
			max = Model.Arguments.Max(e => e.Id) + 1;
		}

		var model = new LogArgumentModel() { Id = max };

		Model.Arguments.Add(model);
	}

	private void RemoveArgumentsEntry(int id)
	{
		if (Model is null)
		{
			return;
		}

		var oldItem = Model.Arguments.FirstOrDefault(i => i.Id == id);

		if (oldItem != null)
		{
			var index = Model.Arguments.IndexOf(oldItem);

			if (index != -1)
			{
				Model.Arguments.RemoveAt(index);
			}
		}
	}

	public void Dispose()
	{
		Subscriber?.Unregister(this);
	}
}
